{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body>

{% include 'includes/navbar.html' %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Hakkımda</h2>
                    <div class="page_link">
                        <a href="{% url 'index' %}">Anasayfa</a>
                        <a href="about-us.html">Hakkımda</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-6">
                <div class="welcome_text">
                    <p>{{ about_myself_welcome }}</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tools_expert">
                    <div class="skill_main">

                        {% for skill in skills %}

                            <div class="skill_item">
                                <h4>{{ skill.name }} <span class="counter">{{ skill.percentage }}</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                             aria-valuenow="{{ skill.percentage }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->

<!--================My Tabs Area =================-->
<section class="mytabs_area p_120">
    <div class="container">
        <div class="tabs_inner">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Deneyim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Eğitim</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="list">

                        {% for experience in experiences %}

                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>{{ experience.start_date|date:"M Y" }} -
                                            {% if experience.end_date %}
                                                {{ experience.end_date|date:"M Y" }}
                                            {% else %}
                                                Halen
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="media-body">
                                        <h4> {{ experience.company_name }}</h4>
                                        <p> {{ experience.job_title }} <br/> {{ experience.job_location }}</p>
                                    </div>
                                </div>
                            </li>

                        {% endfor %}


                    </ul>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <ul class="list">

                        {% for education in educations %}

                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>{{ education.start_date|date:"M Y" }} -
                                            {% if education.end_date %}
                                                {{ education.end_date|date:"M Y" }}
                                            {% else %}
                                                Halen
                                            {% endif %}
                                    </p>
                                </div>
                                <div class="media-body">
                                    <h4>{{ education.school_name }}</h4>
                                    <p>{{ education.major }} <br/>{{ education.department }}<br/>{{ education.school_location }}</p>
                                </div>
                            </div>
                        </li>

                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End My Tabs Area =================-->

{% include 'includes/footer.html' %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'includes/javascript.html' %}
</body>
</html>