{% extends 'layout.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="myHeader">Django App</h1>
        </div>
    </div>

    <p>PyCharm'da bir HTML dosyasındaki kodu optimize etmek, yani kodu biçimlendirmek ve düzenlemek için kullanılan
        kısayol Ctrl + Alt + L tuş kombinasyonudur. Bu kısayol, HTML kodunu otomatik olarak güzelce biçimlendirir ve
        hizalar, böylece kodunuz daha okunabilir ve düzenli hale gelir.

        Bu kısayolu kullandığınızda:

        İç içe geçmiş etiketler düzgün bir şekilde hizalanır.
        Gereksiz boşluklar kaldırılır.
        Kodun genel düzeni ve okunabilirliği artırılır.
        Eğer kısayolun çalışmadığını fark ederseniz, Settings/Preferences > Keymap yolunu izleyerek, bu kısayolun başka
        bir işlemle çakışıp çakışmadığını kontrol edebilir ve gerekirse yeniden tanımlayabilirsiniz.</p>

    <div class="card" style="width: 18rem;">
        <img src="{% get_media_prefix %}mypicture.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script>
        console.log("hello sudecik");
    </script>
{% endblock %}