{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

    <body>

{% include 'includes/navbar.html' %}

        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
           	<div class="container box_1620">
           		<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media">
							<div class="d-flex">
								<img id="pp" width="500px" height="501px" src="{% static 'media/pp2.jpg' %}" alt="">
							</div>
							<div class="media-body">
								<div class="personal_text">
									<h3>Sudenaz Kaplan</h3>
									<p>You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures)</p>
									<ul class="list basic_info">
										<li><a href="javascript:void(0)"><i class="lnr lnr-calendar-full"></i> 3 Eylül 2003</a></li>
										<li><a href="tel:+90 (546) 680 7560"><i class="lnr lnr-phone-handset"></i> +90 (546) 680 7560</a></li>
										<li><a href="mailto:sudenazkaplan39@gmail.com"><i class="lnr lnr-envelope"></i> sudenazkaplan39@gmail.com</a></li>
										<li><a href="javascript:void(0)"><i class="lnr lnr-home"></i> Ankara, Türkiye</a></li>
									</ul>
									<ul class="list personal_social">
										<li><a href="https://instagram.com/kpln.sudenaz" target="_blank"><i class="fa fa-instagram"></i></a></li>
										<li><a href="https://www.linkedin.com/in/kplansudenaz/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://github.com/sudenazkaplan" target="_blank"><i class="fa fa-github"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

{% include 'includes/footer.html' %}

    </body>
</html>