{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body>

{% include 'includes/navbar.html' %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Çalışmalarım</h2>
                    <div class="page_link">
                        <a href="{% url 'index' %}">Anasayfa</a>
                        <a href="{% url 'portfolio' %}">Çalışmalar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Home Gallery Area =================-->
<section class="home_gallery_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Our Latest Featured Projects</h2>
        </div>
    </div>
    <div class="container">
        <div class="gallery_f_inner row imageGallery1">
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="{% static 'media/gallery/project-1.jpg' %}" alt="">
                        <a class="light" href="{% static 'media/gallery/project-1.jpg' %}"><img src="{% static 'media/gallery/icon.png" alt' %}=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>3D Helmet Design</h4>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul creative">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="{% static 'media/gallery/project-2.jpg' %}" alt="">
                        <a class="light" href="{% static 'media/gallery/project-2.jpg' %}"><img src="{% static 'media/gallery/icon.png" alt' %}=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>2D Vinyl Design</h4>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 manipul creative design print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="{% static 'media/gallery/project-3.jpg' %}" alt="">
                        <a class="light" href="{% static 'media/gallery/project-3.jpg' %}"><img src="{% static 'media/gallery/icon.png" alt' %}=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Creative Poster Design</h4>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand creative print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="{% static 'media/gallery/project-4.jpg' %}" alt="">
                        <a class="light" href="{% static 'media/gallery/project-4.jpg' %}"><img src="{% static 'media/gallery/icon.png" alt' %}=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Embosed Logo Design</h4>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="{% static 'media/gallery/project-5.jpg' %}" alt="">
                        <a class="light" href="{% static 'media/gallery/project-5.jpg' %}"><img src="{% static 'media/gallery/icon.png" alt' %}=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>3D Disposable Bottle</h4>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand creative">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="{% static 'media/gallery/project-6.jpg' %}" alt="">
                        <a class="light" href="{% static 'media/gallery/project-6.jpg' %}"><img src="{% static 'media/gallery/icon.png" alt' %}=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>3D Logo Design</h4>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="more_btn">
            <a class="main_btn" href="#">Load More Items</a>
        </div>
    </div>
</section>
<!--================End Home Gallery Area =================-->

{% include 'includes/footer.html' %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'includes/javascript.html' %}
</body>
</html>