{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body>

{% include 'includes/navbar.html' %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Çalışmalarım</h2>
                    <div class="page_link">
                        <a href="{% url 'index' %}">Anasayfa</a>
                        <a href="{% url 'portfolio' %}">Çalışmalar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Home Gallery Area =================-->
<section class="home_gallery_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Yemek Sipariş Uygulaması</h2>
        </div>
    </div>
    <div class="container">
        <div class="gallery_f_inner row imageGallery1">

            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="{% static 'media/gallery/signup.png' %}" alt="">
                        <a class="light" href="{% static 'media/gallery/signup.png' %}"><img
                                src="{% static 'media/gallery/icon.png" alt' %}="></a>
                    </div>
                    <div class="g_item_text">
                        <p><br>GİRİŞ SAYFASI</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="{% static 'media/gallery/anasayfa.png' %}" alt="">
                        <a class="light" href="{% static 'media/gallery/anasayfa.png' %}"><img
                                src="{% static 'media/gallery/icon.png" alt' %}="></a>
                    </div>
                    <div class="g_item_text">
                        <p><br>ANASAYFA</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="{% static 'media/gallery/menu.png' %}" alt="">
                        <a class="light" href="{% static 'media/gallery/menu.png' %}"><img
                                src="{% static 'media/gallery/icon.png" alt' %}="></a>
                    </div>
                    <div class="g_item_text">
                        <p><br>MENÜ SAYFASI</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main_title">
            <h2><br><br>Kişisel Web Sitesi</h2>
        </div>
    </div>
    <div class="container">
        <div class="gallery_f_inner row imageGallery1">

            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul creative">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="{% static 'media/gallery/index2.png' %}" alt="">
                        <a class="light" href="{% static 'media/gallery/index2.png' %}"><img
                                src="{% static 'media/gallery/icon.png" alt' %}"></a>
                    </div>

                    <div class="g_item_text">
                        <p><br>ANASAYFA</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="{% static 'media/gallery/about.png' %}" alt="">
                        <a class="light" href="{% static 'media/gallery/about.png' %}"><img
                                src="{% static 'media/gallery/icon.png" alt' %}="></a>
                    </div>
                    <div class="g_item_text">
                        <p><br>HAKKIMDA</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="{% static 'media/gallery/contact.png' %}" alt="">
                        <a class="light" href="{% static 'media/gallery/contact.png' %}"><img
                                src="{% static 'media/gallery/icon.png" alt' %}="></a>
                    </div>
                    <div class="g_item_text">
                        <p><br>İLETİŞİM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Gallery Area =================-->

{% include 'includes/footer.html' %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'includes/javascript.html' %}
</body>
</html>